html{
    font-family: 'Courier New', Courier, monospace;
}

.titulo{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    margin: 0;
    /*position: absolute;
    display: inline-block;*/
}

body{
    margin: 0;
}

.container {
    display: inline-block;
    position: relative;
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    height: 1024px;
    width: 100vw;
}

.container p {
    position: absolute;
    top: 16px;
   /* right: 20px;*/
    font-size: 40px;
    color: rgb(56, 5, 56);
  }